@custom-media --xs (width < 768px);
@custom-media --sm (width < 1024px);
@custom-media --md (width < 1280px);
@custom-media --lg (width < 1920px);
@custom-media --xl (width >= 1920px);

.productsList {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;

  @media (--xs) {
    justify-content: space-around;
  }
}

.notFound {
  margin-top: 70px;
  text-align: center;
  font-size: 20px;
  color: #999;
}
